<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap-rtl.css" rel="stylesheet" type="text/css" />
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ja-menu/css/jquery-accordion-menu.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/MyStyle.css" rel="stylesheet" />

    <link href="~/Content/kendo/kendo.common-bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Content/kendo/kendo.default.min.css" rel="stylesheet" />*@
    <link href="~/Content/kendo/kendo.silver.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo.rtl.min.css" rel="stylesheet" />
    <script src="~/Scripts/kendo/jszip.min.js"></script>
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>


    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#jquery-accordion-menu").jqueryAccordionMenu();
        });

        $(function () {
            $("#menu-list li").click(function () {
                $("#menu-list li.active").removeClass("active")
                $(this).addClass("active");
            })
        })
    </script>


    <script type="text/javascript">
        (function ($) {
            $.expr[":"].Contains = function (a, i, m) {
                return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
            };
            function filterList(header, list) {
                var form = $("<form>").attr({
                    "class": "filterform",
                    action: "#"
                }), input = $("<input>").attr({
                    "class": "filterinput",
                    type: "text"
                });
                $(form).append(input).appendTo(header);
                $(input).change(function () {
                    var filter = $(this).val();
                    if (filter) {
                        $matches = $(list).find("a:Contains(" + filter + ")").parent();
                        $("li", list).not($matches).slideUp();
                        $matches.slideDown();
                    } else {
                        $(list).find("li").slideDown();
                    }
                    return false;
                }).keyup(function () {
                    $(this).change();
                });
            }
            $(function () {
                filterList($("#form"), $("#menu-list"));
            });
        })(jQuery);
    </script>
</head>
<body>
    <div class="admin-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a class="avatar"><i class="icon-user"></i></a>
        <ul class="avatar-name">
            <li class="date hidden-xs">@Session["UserName"]</li>
            <li class="date hidden-xs hidden-sm"><i class="icon-calendar"></i> @DateTime.Now.ToString("dddd, dd MMMM yyyy")</li>
        </ul>
        <ul class="admin-top-menu">
            <li>
                <a href="@Url.Action("LogOff","Account")">
                    <i class="icon-off"></i> <span>خروج</span>
                </a>
            </li>
        </ul>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#AdminNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>



    <nav class="navbar navbar-admin col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="AdminNavbar">
                <ul class="nav navbar-nav">
                    <li>
                        <div id="jquery-accordion-menu" class="jquery-accordion-menu red">
                            <div class="jquery-accordion-menu-header" id="form"></div>
                            <ul id="menu-list">

                                <li class="active"><a href="#"><i class="icon-home"></i>داشبورد </a></li>
                                <li><a href="http://dentplex.ir/"><i class="icon-eye-open"></i>مشاهده سایت </a></li>
                                <li>
                                    <a href="#"><i class="icon-gift"></i>مدیریت اسلایدر</a>
                                    <ul class="submenu">
                                        <li><a href="/Admin/Sliders"><i class="icon-adjust"></i> اسلایدر </a></li>
                                        <li><a href="/Admin/SliderItems"><i class="icon-adjust"></i> آیتم های اسلایدر </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-gift"></i>مدیریت محصولات </a>
                                    <ul class="submenu">
                                        <li><a href="/Admin/ProductGroups"><i class="icon-sitemap"></i> گروه بندی </a></li>
                                        <li><a href="/Admin/Products"><i class="icon-list"></i> لیست محصولات </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-anchor"></i>مدیریت سایت </a>
                                    <ul class="submenu">
                                        <li><a href="/Admin/Pages"><i class="icon-archive"></i> مدیریت تک صفحه </a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#"><i class="icon-user"></i>کاربری </a>
                                    <ul class="submenu">
                                        <li><a href="#"><i class="icon-key"></i> تغییر رمز عبور </a></li>
                                    </ul>
                                </li>
                            </ul>
                            @*<div class="jquery-accordion-menu-footer">
                                    فوتر منو
                                </div>*@
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="load-modules col-lg-10 col-md-10 col-sm-10 col-xs-12">
        @RenderBody()
    </div>

    @*<div class="admin-footer col-sm-12">
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@



    @RenderSection("Scripts", false)

    
    <script src="~/Content/ja-menu/js/jquery-accordion-menu.js" type='text/javascript'></script>
    <script>
        $(function () {
            $("input[Type='Text'],input[Type='password'],input[Type='url'],input[Type='datetime']," +
                "input[Type='number'],input[Type='email'],select,textarea").addClass("form-control input-sm");
        })
    </script>
</body>
</html>






