@model Dentplex.Data.Model.SliderItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SliderItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SlideItemTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlideItemTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlideItemImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlideItemImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlideItemLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlideItemLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlideItemOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlideItemOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slider.SlideTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slider.SlideTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SlideItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
