@model IEnumerable<Dentplex.Data.Model.Page>

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-info" style="margin-top:20px">
    <div class="panel-heading"><h4>فهرست صفحات تک صفحه ای</h4></div>
    <div class="panel-body">
        <p><a href="@Url.Action("Create","Pages")" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-plus"></i> افزودن</a></p>
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PageName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PageTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PageText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PageIsActive)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PageName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PageTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PageText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PageIsActive)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit","Pages",new { id = @item.PageID})" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-edit"></i>ویرایش</a>
                        <a href="@Url.Action("Delete","Pages",new { id = @item.PageID})" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i>حذف</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


        
