@model Dentplex.Data.Model.ProductGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductGroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductGroupTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductGroup1.ProductGroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductGroup1.ProductGroupTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductGroupID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
