@model IEnumerable<Dentplex.Data.Model.ProductGroup>

<table class="table table-bordered table-striped">
    <tr>
        <th>عنوان گروه</th>
        <th>تصویر اصلی</th>
        <th>تصویر بنر</th>
        <th>زیر گروه ها</th>
        <th>دستورات</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductGroupTitle</td>
            <td><img src="/Images/ProuctGroups/MainImage/@item.ProductGroupImage" class="thumbnail" style="max-width: 50px" /></td>
            <td><img src="/Images/ProuctGroups/BannerImage/@item.ProductGroupBanner" class="thumbnail" style="max-width: 100px" /></td>
            <td>
                <table class="table table-bordered">
                    @foreach (var item2 in item.ProductGroups1)
                    {
                        <tr>
                            <td>@item2.ProductGroupTitle</td>
                            <td width="20%">
                                <a onclick="EditGroup(@item2.ProductGroupID)" class="btn btn-xs btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                                <a onclick="DeleteGroup(@item2.ProductGroupID)" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                            </td>
                        </tr>
                    }
                </table>
            </td>
            <td width="15%">
                <a onclick="AddSubGroup(@item.ProductGroupID)" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-plus"></i> </a>
                <a onclick="EditGroup(@item.ProductGroupID)" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-edit"></i> </a>
                <a onclick="DeleteGroup(@item.ProductGroupID)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i> </a>
            </td>
        </tr>
    }
</table>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
